# WebSocket Server URL for real-time seismic data
# https://github.com/bagusindrayana/seedlink-websocket
PUBLIC_WEBSOCKET_URL=ws://localhost:8080


# Socket Server for earthquake/tsunami data
# https://github.com/bagusindrayana/ews-socket
PUBLIC_SOCKET_DATA_URL=ws://localhost:8081
